/*Header Section*/

.header-top{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    gap:15%;
    border-bottom: 1px solid black;
}

/*Header - Logo*/
.logo{
    height: 60px;
}

/*Header - search*/
.Search input{
    width: 600px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}

.Info{
    font-size: 16px;
    text-align: right;
    padding-top: 10px;
    
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 10px 0;
    margin: 0;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500px;
}

nav a:hover{
    text-decoration: underline blue;
    
}


/*Section header*/

.Description{
    display: block;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.h2-CarParts{
    font-size: 25px;
    letter-spacing: 4px;
    text-decoration: underline 2px;
    text-align: center;
}

.img-3{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 150px;


}

.img-3 img{
    width: 350px;
    height: 230px;
    box-shadow:0px 0px 20px 0px black;
    border-radius: 10px;


}

.img-3 img:active{
    width: 360px;
    height: 240px;
}
/*Main*/


main{
    display:block;
    background-color: rgb(245, 244, 244);
    justify-content: center;
    align-items: center;
    height:auto;

}

.Info-AboutUS {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    gap: 350px;
}

.text-about{
    width: 550px;
}

main img{
    width:500px;
    height: 350px;
    border-radius: 10px;
    margin-top: 20px;
}


.History-ofCompany{
    background-color: rgb(255, 255, 255);
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    gap: 350px;
}

.History-ofCompany img{
    width: 550px;
    border-radius: 10px;
}

.history-text{
    max-width: 600px;
}








/*Footer*/
footer{
    display: flex;
    background-color: rgb(240, 240, 240) ;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin-top: 10px;
    gap: 150px;
}

footer p{
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
}

/*Fnav panel*/

.footer-nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
    justify-items: center;
    padding: 0;
    margin: 0 0 20px 0;
}

.footer-nav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif; 
    
}

.footer-nav a:hover{
    color: rgb(55, 71, 145);
}

.footer-info{
    display: flex;
    gap: 20px;
    justify-content: center;
}


.footer-info img{
    border-radius: 10px;
    width: 60px;
    box-shadow: 0px 0px 10px 0px rgba(69, 69, 238, 0.658);
}


/*Gmail*/
.Gmail{
    color: black;
}
.Gmail:hover{
    color: red;
}

/*Student Name Last*/
.studentName{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}