/*Header Section*/

.header-top{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    gap:15%;
    border-bottom: 1px solid black;
}

/*Header - Logo*/
.logo{
    height: 60px;
}

/*Header - search*/
.Search input{
    width: 600px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}

.Info{
    font-size: 16px;
    text-align: right;
    padding-top: 10px;
    
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 10px 0;
    margin: 0;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500px;
}

nav a:hover{
    text-decoration: underline blue;
    
}


/*Section header*/

.Description{
    display: block;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.h2-CarParts{
    font-size: 25px;
    letter-spacing: 4px;
    text-decoration: underline 2px;
    text-align: center;
}

.img-3{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 150px;


}

.img-3 img{
    width: 350px;
    height: 230px;
    box-shadow:0px 0px 20px 0px black;
    border-radius: 10px;


}

.img-3 img:active{
    width: 360px;
    height: 240px;
}


/*Main*/
main{
    background:#e3e3e9;
}

.filters{
    width: 80%;
    margin: 0 auto 30px auto;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}

.filter-input .filter-select{
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 280px;
}

.filter-btn{
    padding: 10px 20px;
    background-color:#4CAF50;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    width: 200px;
}

.filter-btn:hover{
    background:#3d9743;
}





.products-section{
    padding: 50px 0;
}

.products-title{
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
    font-weight: 700;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

/*grid*/

.products-grid{
    width: 80%;
    margin: 0 auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
/*Product Card*/

.product-card{
    background: white;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px black;
}

.product-card img{
    width: 100%;
    height: 250px;
    object-fit:cover;
    border-radius: 6px;
}

.product-card h3{
    margin: 10px 0 5px 0;
}

.product-card p{
    margin: 3px 0;
}

.price{
    font-weight: 700;
    color: rgb(6, 47, 182);
}

.buy-btn{
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: #3d9743;
    border: none;
    color: white;
    font-size: 17px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.buy-btn:hover{
    background:#3d9743;
}


.cont-sponsers{
    justify-content: center;
    align-items: center;
}

.cont-sponsers h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
}

.sponsers{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.sponsers img{
    width: 200px;
    
}


.Youtube{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}



/*Footer*/
footer{
    display: flex;
    background-color: rgb(240, 240, 240) ;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin-top: 20px;
    gap: 150px;
}

footer p{
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
}

/*Fnav panel*/

.footer-nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
    justify-items: center;
    padding: 0;
    margin: 0 0 20px 0;
}

.footer-nav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif; 
    
}

.footer-nav a:hover{
    color: rgb(55, 71, 145);
}

.footer-info{
    display: flex;
    gap: 20px;
    justify-content: center;
}


.footer-info img{
    border-radius: 10px;
    width: 60px;
    box-shadow: 0px 0px 10px 0px rgba(69, 69, 238, 0.658);
}


/*Gmail*/
.Gmail{
    color: black;
}
.Gmail:hover{
    color: red;
}

/*Student Name Last*/
.studentName{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}